body{
	display: initial;
	align-items: initial;
	justify-content: initial;
	background-color: rgba(0,0,0,0.03);
}

.container{
	width: 50%;
	text-align: left;
	margin: auto;
	margin-top: 7.5%;
	margin-bottom: 300px;
}

h1, h2, .container > a span, p{
	font-family: "Gotham Light";
	background-color: #333;
	padding-left: 20px;
}

p{
	clear: left;
	color: white;
	padding: 10px 15px 10px 15px;
	width: 20%;
	text-align: center;
	margin: auto;
	margin-bottom: 50px;
}

h1{
	color: white;
	padding-top: 15px;
}

h2{
	font-weight: normal;
	color: #DDD;
	margin-bottom: 20px;
	padding-bottom: 15px;
}

.container > a{
	display: flex;
	flex-direction: column;
	float: left;
	width: 24%;
	margin: 0.25%;
	text-overflow: ellipsis;
	overflow: hidden;
	text-decoration: none;
}

.container > a img{
	width: 100%;
}

.container > a span{
	padding: 0;
	text-align: center;
	color: white;
	font-size: 0.7em;
	letter-spacing: 1px;
	font-family: "Arial";
	width: 87.5%;
	text-overflow: ellipsis;
	text-transform: capitalize;
	padding: 5px 10px 5px 10px;
	background-color: rgba(0,0,0,0.8);
}