@font-face{
	font-family: GothamLight;
	src: url('fonts/GOTHAM-LIGHT.TTF');
}

@font-face{
	font-family: GothamMedium;
	src: url('fonts/GOTHAM-MEDIUM.TTF');
}

body{
	display: initial;
	align-items: initial;
	justify-content: initial;
	background-color: rgba(0,0,0,0.03);
}

.classtitle{
	text-align: center;
}

.container{
	width: 50%;
	text-align: left;
	margin: auto;
	margin-top: 0;
	margin-bottom: 50px;
	padding-bottom: 5px;
	background-color: white;
	box-shadow: 0 0 15px rgba(0,0,0,0.05);
	border-radius: 3px;
}

.container h1{
	font-family: GothamLight;
	font-size: 30px;
	font-weight: bold;
	text-align: center;
	padding: 30px 0 10px 0;
	color: #555;
}

.container h2{
	font-family: GothamLight;
	font-size: 20px;
	font-weight: bold;
	color: #888;
	text-align: center;
	padding-bottom: 30px;
	border-bottom: 1px solid #EEE;
	margin-bottom: 20px;
}

.studentlist{
	list-style: none;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
}

.studentlist > li{
	background-color: white;
	box-shadow: 0 0 10px rgba(0,0,0,0.1);
	width: 45%;
	margin: 0 10px 15px 10px;
}

.studentlist a{
	height: 100px;
	width: 100%;
	display: flex;
	align-items: center;
	text-decoration: none;
}

.studentlist a .description{
	margin-left: 10px;
	font-family: arial;
	font-weight: normal;
	font-size: 0.9em;

}

.studentlist img{
	height: 100px;
	width: 100px;
	object-position: center;
	object-fit: cover;
}

.studentlist a .descriptionName{
	margin-bottom: 5px;
}

.studentlist a .descriptionCourseYear{
	color: #AAA;
}

/*.container p{
	display: block;
	margin: 30px auto 0 auto;
	padding: 10px 30px;
	width: 20%;
	color: #888;
	font-family: GothamLight;
	font-weight: bold;
	letter-spacing: 0.1em;
	text-align: center;
	background-color: white;
	border-radius: 3px;
	box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
*/
/*.container > a{
	display: flex;
	flex-direction: column;
	float: left;
	width: 24%;
	margin: 0.25%;
	text-overflow: ellipsis;
	overflow: hidden;
	text-decoration: none;
}

.container > a img{
	width: 100%;
}

.container > a span{
	padding: 0;
	text-align: center;
	color: white;
	font-size: 0.7em;
	letter-spacing: 1px;
	font-family: "Arial";
	width: 87.5%;
	text-overflow: ellipsis;
	text-transform: capitalize;
	padding: 5px 10px 5px 10px;
	background-color: rgba(0,0,0,0.8);
}*/