@font-face{
	font-family: GothamLight;
	src: url('fonts/GOTHAM-LIGHT.TTF');
}

.post .user{
	font-weight: bold;
	font-family: GothamLight;
}

.to.post form > textarea,
.post .caption{
	font-family: Arial;
	font-size: 1em;
}

/*--POST AND POSTING DESIGN--*/

.post{
	overflow: auto;
	max-width: 500px;
	border-radius: 3px;
	padding: 20px;
	background-color: white;
	margin: 0 auto 20px auto;
	box-shadow: 0 5px 3px rgba(0,0,0,0.1);
}

.user{
	text-align: left;
	vertical-align: middle;
	font-size: 1.2em;
	margin-left: 10px;
	position: relative;
	text-decoration: none;
	height: 1em;
}

.post header{
	display: flex;
	align-items: center;
	margin-bottom: 15px;
}

.userphoto{
	height: 50px;
	width: 50px;
	object-fit: cover;
	object-position: center;
	border: 1px solid #EEE;
	border-radius: 3px;
}

.to.post textarea{
	width: 100%;
	padding: 10px;
	resize: vertical;
	min-height: 50px;
	max-height: 500px;
	margin-bottom: 0;
	border-color: white;
	border: 1px solid #EEE;
	box-sizing: border-box;
}

.button.options{
	display: flex;
	list-style: none;
	margin-top: 20px;
}

.button.options li{
	margin-right: 10px;
}

input[type=file]{
	display: none;
}

label{
	color: #03A9F4;
	display: block;
	font-size: 1em;
	border-style: none;
	letter-spacing: 2px;
	border: 1px solid #EEE; 
	background-color: white;
	text-transform: uppercase;
	font-family: GothamLight;
	font-weight: bold;
	padding: 5px 15px 5px 15px;
}

.button.options input[type=submit],
.button.options input[type=button],
.download-btn{
	color: #03A9F4;
	display: block;
	font-size: 1em;
	border-style: none;
	letter-spacing: 2px;
	border: 1px solid #EEE; 
	background-color: white;
	text-transform: uppercase;
	font-family: GothamLight;
	padding: 5px 15px 5px 15px;
	font-weight: bold;
	text-decoration: none!important;
}

.download-btn:hover{
	color: #03A9F4;
}

.button.options li:last-child{
	margin-left: auto;
	margin-right: 0;
}

.button.options li:nth-child(2) button{
	border-left-width: 0;
}

.button.options li:last-child button{
	border-width: 1px;	
}


/*--AESTHETIC PURPOSES--*/

.hoveranim{
	cursor: pointer;
	transition: 0.2s;
	pointer-events: visible;
}

.hoveranim:hover{
	transform: translate(0px, -3px);
	border-color: #29B6F6!important;
	box-shadow: 0 3px 2px rgba(0,0,0,0.1);
}

.filecontainer{
	width: 100%;
	overflow: auto;
	align-items: center;
	display: inline-flex;
	justify-content: left;
	border: 1px solid #EEE;
	transition: 0.3s;
	border-radius: 3px;
}

.filecontainer:hover{
	box-shadow: 0 0 5px rgba(0,0,0,0.1);
	cursor: pointer;
	border-color: #81D4FA;
}

.filecontainer > p{
	color: #888;
	font-size: 1em;
	font-family: Arial;
	font-weight: normal;
}

.file{
	max-height: 50px;
}

.post .caption{
	width: 100%;
	color: #555;
	text-align: justify;
	margin-bottom: 10px;
	text-indent: 20px;
	line-height: 1.5em;
	padding: 0;
	box-sizing: border-box;
	font-size: 1em;
}

.uploadedphoto{
	width: 100%;
	object-fit: cover;
	object-position: center;
}

.comments{
	list-style: none;
	padding: 0;
	margin: 20px 0 0 0;
	padding: 5px 10px 10px 10px;
	width: 100%;
	background-color: rgba(0,0,0,0.03);
}

.comment{
	border: 1px solid #EEE;
	display: flex;
	margin-top: 10px;
	padding: 5px;
	position: relative;
	background-color: white;
}

.comment img{
	height: 40px;
	min-width: 40px;
	border: 1px solid #EEE;
	box-sizing: content-box;
}

.commenting form{
	display: flex;
	width: 100%;
	justify-content: space-between;
}

.commenting textarea{
	border: 1px solid #EEE;
	display: block;
	height: 40px;
	margin: 0 5px;
	width: 100%;
	resize: vertical;
	padding: 10px 15px;
	font-family: Arial;
	font-size: 1em;
	font-weight: normal;
	transition: 0.2s;
	overflow: hidden;
}

.commenting textarea:hover,
.commenting textarea:focus,
.commenting textarea:active{
	outline: none;
	box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.commenting textarea:focus,
.commenting textarea:active{
	height: 100px;
	border-color: #03A9F4;
}

.commenting button{
	border: 1px solid #EEE;
	height: 40px;
	min-width: 40px;
	box-sizing: border-box;
	background: transparent;
	transition: 0.2s;
	background-image: url("../images/comment.png");
	background-size: 70%;
	background-repeat: no-repeat;
	background-position: center;
}

.commenting button:hover{
	border-color: #03A9F4;
	transform: translate(0, -2px);
	box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

.commenting button span{
	transform: scale(1.5, 1.5);
	color: #03A9F4;
}

.commented .delete{
	top: 0px;
	right: 6px;
	position: absolute;
	transform: scale(1.2, 1);
	color: #EEE;
}

.commented .delete:hover{
	color: #888;
	cursor: pointer;
}

.commented .content{
	width: 100%;
	display: flex;
	margin: 0 15px 0 5px;
	flex-direction: column;
	padding: 5px;
	font-family: Arial;
	line-height: 1.2em;
}

.usercom, .timestamp, .comment-content{
	text-align: left;
}

.usercom{
	color: #0091EA;
	cursor: pointer;
	font-weight: bold;
	font-family: GothamLight;
	transition: 0.2s;
}

.timestamp{
	font-size: 0.85em;
	color: #CCC;
}

.comment-content{
	color: #555;
	margin: 0;
	font-size: 0.9em;
}

#image_preview{
	margin-top: 20px;
	width: 100%;
	object-fit: cover;
	object-position: center;
	display: none;
	border: 0;
}

#cancel_upload{
	border-color: white;
	display: none;
	position: absolute;
}

#file_button{
	border: 1px solid #EEE;
	padding: 3px 10px 3px 26px;
	color: #00B8D4;
	position: absolute;
	transition: 0.4s;
}

#file_button:hover{
	background-color: #00B8D4;
	color: white;
	box-shadow: 0 0 10px rgba(0,0,0,0.1);
}






