
/*--REMOVED MARGINS AND PADDING FOR EASIER DESIGNING--*/

*{
	margin: 0;
	padding: 0;
	color: #555;
}

body{
	display: flex;
	min-height: 667px;
	align-items: center;
	justify-content: center;
	background-color: #ECEFF1;
}

@font-face{
	font-family: GothamLight;
	src: url('fonts/GOTHAM-LIGHT.TTF');
}

.container{
	text-align: center;
}

/*--FONT DESIGN--*/

.classbtn, .name,
.user.description, .description,
.grouplinks > li > a,
.filecontainer > p{
	font-weight: bold;
	font-family: GothamLight;
}

/*--HOME DESIGN--*/

.text{
	padding: 5px;
	display: block;
	margin-bottom: 10px;
	border: solid 1px #DDF;
}

.greetings{
	font-size: 20px;
	margin-bottom: 5%;
	text-align: center;
	letter-spacing: 25px;
	text-transform: uppercase;
	font-family: GothamLight;
}

.webname{
	color: #a20025;
	font-size: 50px;
	letter-spacing: 5px;
	text-transform: uppercase;
	font-family: "Gotham Medium";
}

.instructions{
	color: #EEE;
	display: block;
	font-size: 12px;
	text-align: center;
	border-radius: 2px;
	letter-spacing: 1px;
	background-color: #333;
	margin: 0 auto 5% auto;
	font-family: "Courier New";
	padding: 5px 15px 5px 15px;
}

.classbtn{
	color: #444;
	padding: 5px;
	display: block;
	font-size: 20px;
	transition: 0.2s;
	margin-bottom: 3%;
	letter-spacing: 2px;
	text-decoration: none;
	box-sizing: border-box;
	background-color: rgba(255,255,255,0.5);
	box-shadow: 0px 2px 1px rgba(0,0,0,0.05);
}

.classbtn:hover{
	color: #29B6F6;
	border-color: white;
	background-color: white;
	transform: translate(0, -2px);
	box-shadow: 0px 3px 5px rgba(0,0,0,0.1);
}

ul.actionbtns>li{
	margin-bottom: 10px;
}

ul.actionbtns > li > span{
	transition: 0.2s
}

ul.actionbtns > li > button{
	width: 30px;
	color: white;
	height: 30px;
	display: block;
	transition: 0.1s;
	margin-right: 5px;
	border-style: none;
	margin-bottom: 5px;
	background-color: #999;
}

ul.actionbtns > li > button:first-child:hover{
	background-color: #8BC34A;
}

ul.actionbtns > li > button:nth-child(2):hover{
	background-color: #8BC34A;
}

ul.actionbtns > li > button:last-child:hover{
	background-color: #8BC34A;
}

/*--TOOLTIP--*/

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    opacity: 0;
    z-index: 1;
    color: #fff;
    width: 120px;
    padding: 5px 0;
    text-align: center;
    border-radius: 6px;
    position: absolute;
    background-color: #222;
    transform: translate(-50%);
}

.tooltip:hover .tooltiptext {
    opacity: 1;
}

