table, th, td {
    border-collapse: collapse;
}

table{
	width: 80%;
	box-shadow: 0 0 15px rgba(0,0,0,0.1);
	margin: 120px auto 20px auto;
}

th, td{
	padding: 10px 15px;
	background-color: white;
	border: 1px solid #DDD;
	margin: 0;
	font-family: Arial;
	font-size: 0.9em;
}

td{
	color: #555;
}

/*th:first-child,
th:nth-child(2){
	width: 2em;
}*/

td:first-child,
td:nth-child(2){
	text-align: center;
}

td:nth-last-child(2),
td:last-child{
	padding: 0;
	width: 75px;
}

td .button{
	width: 100%;
	border-color: white;
}

td:nth-last-child(2) .button{
	color: #FFAB00;
}

td:nth-last-child(2) .button:hover{
	border-color: #FFAB00;
}

td:last-child .button{
	color: #D81B60;
}

td:last-child .button:hover{
	border-color: #D81B60;
}

.linkprofile{
	color: #0091EA;
	text-decoration: none;
	transition: 0.2s;
	border-bottom: 1px solid white;
}

.linkprofile:hover{
	border-color: #0091EA;
}

.description{
	width: 30%;
}

.description p{
	text-overflow: ellipsis;
	word-wrap: break-word;
	height: 1em;
	overflow: hidden;
}
