
@font-face{
	font-family: GothamLight;
	src: url('fonts/GOTHAM-LIGHT.TTF');
}

.work{
	list-style: none;
	width: 80%;
	display: flex;
	justify-content: space-around;
	padding: 0;
	margin: auto;
	flex-wrap: wrap;
}

.work li a{
	background-color: transparent;
	text-decoration: none!important;
	color: #888;
	transition: 0.15s;
	font-family: GothamLight;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 0.1em;
	height: 100px;
	width: 200px;
	display: block;
	text-align: center;
	vertical-align: middle;
	border-radius: 3px;
	padding-top: 40px;
	box-sizing: border-box;
	margin-top: 20px;
	border: 1px solid #EEE;
	box-shadow: 0 0 10px rgba(0,0,0,0.05);
}

.work li a:hover{
	background-color: #FFFF8D;
	color: white;
}