@font-face{
    font-family: GothamLight;
    src: url('../fonts/GOTHAM-LIGHT.TTF');
}

.modal {
    display: none;
    position: fixed;
    z-index: 5;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.5);
    align-items: center;
    justify-content: center;
    transition: 0.2s;
}

.modal-content{
    background-color: white;
}

.modal-header{
    border: 1px solid #DDD;
    position: relative;
    padding: 10px 20px;
}

.delete-panel .modal-content{
    width: 25%;
    overflow: auto;
}

h2{
    margin: 120px 0 20px 0;
    font-size: 2em;
    font-family: GothamLight;
    text-transform: uppercase;
    color: #333;
    width: 100%;
    text-align: center;
}

.instruction{
    width: 40%;
    margin: 0 auto 0 auto;
    box-sizing: border-box;
}

.addform{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40%;
    margin: auto;
    margin-bottom: 50px;
}

.addform input[type=text],
.addform input[type=email],
.addform input[type=password],
.addform textarea{
    border: 1px solid #DDD;
    margin-top: 10px;
    padding: 10px 15px;
    font-size: 0.9em;
    color: #555;
}

.addform textarea{
    resize: vertical;
    font-family: Arial;
    font-size: 0.9em;
}

.addform input[type=submit],
.addform button{
    background-color: white;
    border: 1px solid #DDD;
    padding: 10px 20px;
    margin-left: auto;
    margin-top: 10px;
    color: #888;
    transition: 0.2s;
}

.addform input[type=submit]{
    color: #64DD17;
}

.addform input[type=submit]:hover{
    border-color: #64DD17;
    cursor: pointer;
    box-shadow: 0 0 15px rgba(0,0,0,0.05);
}

.name-inputs{
    display: flex;
    justify-content: space-between;
}

.name-inputs input{
    width: 100%;
}

.name-inputs input:nth-child(2){
    margin: 10px 5px 0 5px;
}

.error{
    background-color: #E91E63;
    color: white;
    font-family: Arial;
    font-size: 0.85em;
    border: 1px solid #DDD;
    border-width: 0 1px 1px 1px;
    padding: 5px 15px 3px 15px;
}

.group-inputs{
    display: flex; 
    justify-content: space-between;
}

.group-inputs input:first-child{
    margin-right: 5px;
}

.group-inputs input{
    width: 100%;
}























.editform input[type=submit]{
    color: #FFAB00!important;
}

.editform input[type=submit]:hover{
    border-color: #FFAB00;
    cursor: pointer;
    box-shadow: 0 0 15px rgba(0,0,0,0.05);
}

.deleteform{
    flex-direction: row!important;
}

.deleteform input{
    margin-right: auto;
    color: #E91E63!important;
}

.deleteform input:hover{
    border-color: #E91E63!important;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
    cursor: pointer;
}

.deleteform button{
    margin-left: auto;
    color: #0091EA!important;
}

.deleteform button:hover{
    border-color: #0091EA;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
    cursor: pointer;
}