#nav{
	top: 0;
	left: 0;
	position: absolute;
	width: 100%;
	background-color: white;
}

#nav ul{
	display: flex;
	justify-content: flex-end;
	align-items: center;
	list-style: none;
}

#nav li a{
	display: block;
	font-family: Arial;
	font-size: 0.9em;
	color: #888;
	padding: 10px 15px;
	text-decoration: none;
	border-bottom: 1px solid white;
	box-sizing: border-box;
	transition: 0.15s;
}

#nav li a:hover{
	border-color: #00B8D4;
	color: #0091EA;
}



