table, th, td {
    border-collapse: collapse;
}

table{
	width: 90%;
	box-shadow: 0 0 15px rgba(0,0,0,0.1);
	margin: 120px auto 20px auto;
}

th, td{
	padding: 10px 15px;
	background-color: white;
	border: 1px solid #DDD;
	margin: 0;
	font-family: Arial;
	font-size: 0.9em;
}

td{
	color: #555;
}

/*th:first-child,
th:nth-child(2){
	width: 2em;
}*/

td.center{
	text-align: center;
}

.button-container{
	width: 75px;
	padding: 0;
}

td .button{
	width: 100%;
	border-color: white;
}

.edit.button{
	color: #FFAB00;
}
.edit.button:hover{
	border-color: #FFAB00;
}
.delete.button{
	color: #D81B60;
}
.delete.button:hover{
	border-color: #D81B60;
}
.enroll{
	color: #64DD17;
}
.enroll:hover{
	border-color: #64DD17;
}
.drop{
	color: #E91E63;
}
.drop:hover{
	border-color: #E91E63;
}
.assign{
	color: #00B8D4;
}
.assign:hover{
	border-color: #00B8D4;
}

.linkprofile{
	color: #0091EA;
	text-decoration: none;
	transition: 0.2s;
	border-bottom: 1px solid white;
}

.linkprofile:hover{
	border-color: #0091EA;
}

.description{
	width: 30%;
	overflow: hidden;
}

.description p{
	text-overflow: ellipsis;
	word-wrap: break-word;
	height: 1em;
	overflow: hidden;
}
